/wp-admin/
/wp-includes/
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php
/license.txt
/readme.html
/.idea/
/wp-content/index.php
/wp-content/uploads
/wp-content/plugins/woocommerce/
/wp-content/plugins/advanced-custom-fields-pro/
/wp-content/plugins/akismet/
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/themes/twentynineteen/
/wp-content/themes/twentytwenty/
/wp-content/themes/twentytwentyone/
/wp-content/themes/poems/
/wp-content/languages/

/wp-content/themes/ys-wp-theme/package-lock.json
/wp-content/themes/ys-wp-theme/node_modules/
/wp-content/themes/ys-wp-theme/composer.lock
/.htaccess
/wp-content/debug.log
