<div class="menu__header-block">
    <div class="container">
        <div class="menu__header">
            <div class="menu__link menu__logo">
                <img src="<%= '/dist/images/menu-close.svg' %>" alt="" class="menu__link-img js-close">
            </div>

            <a href="" class="menu__link menu-link-one">
                <img src="<%= '/dist/images/main_logo.svg' %>" alt="" class="menu__link-img">
            </a>

            <div class="menu__social">
                <?php foreach ($socialLinks as $social) { ?>
                    <div class="menu__social-link">
                        <a href="<?= $social['link'] ?>">
                            <img src="<?= $social['iconUrl'] ?>" alt="<?= $social['name'] ?>">
                        </a>
                    </div>
                <?php } ?>
            </div>

            <a href="#" class="personal-area js-popup-active" data-popup="login">
                <span class="menu__same-line">
                    <img src="<%= '/dist/images/menu-close.svg' %>" alt="">
                </span>
                <span class="hide">Войти</span>
            </a>
        </div>
    </div>
</div>
