@charset "utf-8";

.count {
    display: none;

    &.red {
        color: $strong-red;
    }

    &.green {
        color: $primary-green;
    }
}

.is-count {

    .default {
        display: none;
    }

    .count {
        display: block;
    }
}