.my-bonuses {
    padding-top: 120px;
    padding-bottom: 90px;
}

.my-bonuses__heading {
    display: block;
    position: relative;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #276f97;
    margin-bottom: 50px;
}