@charset "utf-8";

body {
    color: #4A8AAD;
}

// Контейнеры

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.padding-horizontal {
    padding-left: $indent-30;
    padding-right: $indent-30;
}

.padding-vertical {
    padding-top: $indent-16;
    padding-bottom: $indent-16;

    @media all and (min-width: $tablet-lg) {
        padding-top: $indent-32;
        padding-bottom: $indent-32;
    }
}


.is-hidden {
    display : none !important;
}

.is-fixed {
    position: fixed;
}

.overflow-hidden {
    overflow: hidden;
}

// Скрывает бейдж гугл invisible капчи
.grecaptcha-badge {
    display: none !important;
}
