@charset "utf-8";

// Внешние отступы используются в случаях массового повторения на странице

// Отступ 8px

.mg-right-8 {
    margin-right: $indent-8;
}

.mg-bottom-8 {
    margin-bottom: $indent-8;
}

// Отступ 12px

.mg-top-12 {
    margin-top: $indent-12;
}

.mg-bottom-12 {
    margin-bottom: $indent-12;
}

// Отступ 16px

.mg-top-16 {
    margin-top: $indent-16;
}

.mg-bottom-16 {
    margin-bottom: $indent-16;
}

// Отступ 20px

.mg-top-20 {
    margin-top: $indent-20;
}

.mg-right-20 {
    margin-right: $indent-20;
}

.mg-bottom-20 {
    margin-bottom: $indent-20;
}

// Отступ 24px

.mg-top-24 {
    margin-top: $indent-24;
}

.mg-bottom-24 {
    margin-bottom: $indent-24;
}

// Отступ 32px

.mg-top-32 {
    margin-top: $indent-32;
}

.mg-bottom-32 {
    margin-bottom: $indent-32;
}

// Отступ 48px

.mg-top-48 {
    margin-top: $indent-48;
}

.mg-bottom-48 {
    margin-bottom: $indent-48;
}
