@charset "utf-8";

header {
    border-bottom: 1px solid #276f97;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    /**/
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.header_search {
    width: calc(25% - 50px);
}

.header_crutch {
    height: 80px;
    width: 80px;
}

.menu_img {
    position: absolute;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_catalog {
    cursor: pointer;
}

.header_search {
    position: relative;

    &::after {
        content: url($url + '/search.svg');
        position: absolute;
        right: 22px;
        top: 8px;
    }

    input {
        border: none;
        background: #f1f5fc;
        border-radius: 6px;
        width: 100%;
        color: #4a8aad;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding: 13px 22px;
        font-family: 'Montserrat', sans-serif;

        &::placeholder {
            color: #4a8aad;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

.header_free {
    background: #288fc8;
    color: #fff;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding: 20px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(206.47deg, #7bc1e8 3.72%, #276f97 142.35%);
        box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.1), inset 0px -4px 4px rgba(91, 91, 91, 0.1);
    }
}

.header_user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header_enter {
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    width: max-content;
}

.header_enter_menu {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    overflow: hidden;
    width: max-content;
    transition: max-height 0.5s ease-out;
    cursor: default;
    z-index: 9;

    &:hover {
        background: #fff;
        box-shadow: 0 2px 16px rgba(163, 163, 163, 0.1);
        border-radius: 4px;
        padding: 25px 50px 30px 30px;
        left: -30px;
        top: -25px;
        max-height: none;
        transition: max-height 0.5s ease-in;
    }
}

.enter_menu_ul {
    padding-top: 26px;
    padding-bottom: 30px;
}

.enter_menu_li {
    padding-bottom: 18px;
}

.enter_menu_li,
.enter_menu_exit {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    cursor: pointer;

    &:hover {
        color: #006aa5;
    }
}

.enter_menu_header {
    display: flex;
    align-items: center;
}

.header_enter_ava {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 1.85065px solid #276f97;
    box-sizing: border-box;
}

.nik_nik {
    margin-left: 15px;
}

.header_basket {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    background: #f1f5fc;
    border-radius: 6px;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        margin-right: 15px;
    }

    span {
        font-weight: 600;
    }
}

.header__menu_icon {
    display: none;
}


/* Новые стили для фиксации header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
}


/* Новые стили для фиксации header */